<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record model="ir.actions.server" id="elevenlabs_action">
      <field name="type">ir.actions.server</field>
      <field name="name">ElevenLabs</field>
      <field name="state">code</field>
      <field name="model_id" ref="model_connect_settings"/>
      <field name="code">action = model.open_elevenlabs_form()</field>
  </record>

  <menuitem id="elevenlabs_menu" parent="connect.connect_settings_menu"
      groups="connect.group_connect_admin"
      name="ElevenLabs" sequence="1000"/>

  <menuitem id="elevenlabs_settings_menu" parent="elevenlabs_menu"
      groups="connect.group_connect_admin"
      action="elevenlabs_action" name="Settings" sequence="100"/>

  <record id="connect_elevenlabs_settings_form" model="ir.ui.view">
    <field name="name">connect_elevenlabs_settings_form</field>
    <field name="model">connect.settings</field>
    <field name="type">form</field>
    <field name="arch" type="xml">
      <form create="false" delete="false">
      <sheet>
        <notebook>
          <page name="elevenlabs_api" string="API">
            <group>
              <group>
                <a invisible="display_elevenlabs_api_key" class="btn btn-info" role="button"
                  colspan="2" target="_new" href="https://try.elevenlabs.io/connect">OPEN A NEW ELEVENLABS ACCOUNT HERE</a>
                <field name="elevenlabs_enabled"/>
                <field name="display_elevenlabs_api_key" password="1" string="API Key"
                       invisible="not elevenlabs_enabled"
                       required="elevenlabs_enabled"/>
                <field name="elevenlabs_voice"
                       invisible="not elevenlabs_enabled"/>
                <div class="d-flex flex-row" colspan="2">
                  <button name="elevenlabs_sync" type="object" string="SYNC" class="btn btn-secondary me-1"
                          invisible="not elevenlabs_enabled"/>
                   <button name="elevenlabs_unbind_account" type="object" string="UNBIND ACCOUNT" class="btn btn-warning me-1"
                           invisible="not elevenlabs_enabled"
                           confirm="Are you sure you want to unbind your ElevenLabs account? This will clear all agent and tool IDs."/>
                  <button name="elevenlabs_regenerate_prompts" type="object" string="REGENERATE PROMPTS" class="btn btn-secondary me-1"
                          invisible="not elevenlabs_enabled"/>
                  <button name="elevenlabs_sync_tools" type="object" string="SYNC TOOLS" class="btn btn-secondary me-1"
                          invisible="not elevenlabs_enabled"/>
                </div>
                <a invisible="not elevenlabs_enabled"
                  colspan="2" target="_new" href="https://elevenlabs.io/app/voice-library?">Add shared voices</a>
              </group>
            </group>
          </page>
          <page name="webhook" string="Webhook"
              invisible="not elevenlabs_enabled or not display_elevenlabs_api_key">
            <group>
                <div colspan="2">
                  <small><strong>Add Elevenlabs post call webhook URL in <a href="https://elevenlabs.io/app/conversational-ai/settings" target="_blank">Elevenlabs Settings</a></strong>.</small>
                </div>
                <field name="elevenlabs_post_call_webhook_url" string="Post Call Webhook URL"/>
                <field name="display_elevenlabs_post_call_webhook_secret" string="Post Call Webhook Secret" password="True"/>
            </group>
            <group>
            </group>
          </page>
          <page name="agent" string="Agent"
              invisible="not elevenlabs_enabled or not display_elevenlabs_api_key">
            <group>
              <group>
                <field name="elevenlabs_agent_url"/>
                <field name="elevenlabs_agent_parameters" placeholder="param=value"/>
              </group>
            </group>
            <button type="object" string="Agent Ping" icon="fa-check" name="ping_agent" style="width: 130px"/>
          </page>
        </notebook>
      </sheet>
      </form>
    </field>
  </record>
</odoo>
