<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="connect_settings_form_freeswitch" model="ir.ui.view">
        <field name="name">connect.settings.form.freeswitch</field>
        <field name="model">connect.settings</field>
        <field name="inherit_id" ref="connect.connect_settings_form"/>
        <field name="arch" type="xml">
            <page name="general" position="after">
                <page name="freeswitch" string="FreeSWITCH">
                    <group>
                        <group string="Connection">
                            <field name="freeswitch_socket_url"
                                   placeholder="wss://your-fs-domain:8082"/>
                            <field name="freeswitch_domain"
                                   placeholder="fs.example.com"/>
                        </group>
                    </group>
                    <group>
                        <group string="Log Levels">
                            <field name="freeswitch_log_level"/>
                            <field name="freeswitch_sofia_log_level"/>
                        </group>
                    </group>
                </page>
            </page>
        </field>
    </record>

</odoo>
